@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700');

* {
  box-sizing: border-box;
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

.cards img {
  max-width: 200px;
}

.section-1 img {
  max-width: 600px;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  margin: 10px;
}

ul {
  display: flex;
  list-style-type: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar,
.section-1,
.footer {
  background-color: #1F2937;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.section-1 .container {
  height: 575px;
  display: flex;
  align-items: center;
}

.container .content {
  padding-right: 50px;
}

.content h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  line-height: 1.25;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 18px;
  color: #e5e7eb;
  line-height: 1.5;
  margin-bottom: 20px;
}

.content button {
  color: white;
  font-size: 18px;
  background-color: #3882f6;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
}

.section-2 h1 {
  font-size: 36px;
  color: #1F2937;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.cards {
  display: flex;
  margin: 50px 100px;
  margin-bottom: 100px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}