@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto+Slab|Roboto:300,400,500,700');

* {
  box-sizing: border-box;
  font-family: 'roboto', Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

.section-1 img {
  max-width: 600px;
  border-radius: 15px;
}

.cards img {
  max-width: 200px;
  border-radius: 15px;
  border: 5px solid #3882f6;
}

a {
  font-size: 18px;
  color: #e5e7eb;
  text-decoration: none;
  margin: 10px;
}

ul {
  display: flex;
  list-style-type: none;
}

.nav a:hover {
  color: #3882f6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.navbar,
.section-1,
.footer {
  background-color: #1F2937;
}

.section-2,
.section-4 {
  background-color: white;
}

.section-3 {
  background-color: #e5e7eb;
}

.header-logo {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.section-1 .container {
  height: 560px;
  display: flex;
  align-items: center;
}

.container .content {
  padding-right: 50px;
}

.content h1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  line-height: 1.25;
  margin-bottom: 20px;
}

.content h2 {
  font-size: 18px;
  color: #e5e7eb;
  line-height: 1.5;
  margin-bottom: 20px;
}

.content button {
  color: white;
  font-size: 18px;
  background-color: #3882f6;
  padding: 5px 25px;
  border: none;
  border-radius: 5px;
}

.content button:hover {
  background-color: #1169f5;
}

.section-2 .container {
  height: 500px;
}

.section-2 h1 {
  font-size: 36px;
  color: #1F2937;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.cards {
  display: flex;
  margin: 50px 80px;
}

.cards h2 {
  margin: 10px;
}

.card-1,
.card-2,
.card-3,
.card-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
}

.section-3 .container {
  height: 500px;
  display: flex;
  align-items: center;
  max-width: 900px;
}

.quote h1 {
  font-size: 36px;
  font-style: italic;
  font-weight: lighter;
  color: #1F2937;
  margin: 8px 0px;
}

.quote h2 {
  font-size: 24px;
  font-weight: bold;
  text-align: right;
  margin-right: 10px;
}

.section-4 .container {
  height: 400px;
  display: flex;
  align-items: center;
}

.engagement {
  height: 180px;
  background-color: #3882f6;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 10px;
}

.engagement .content {
  display: flex;
  flex-direction: column;
  width: 600px;
}

.engagement h1 {
  font-size: 24px;
  color: #f9faf8;
  font-weight: bold;
  margin-bottom: 4px;
}

.engagement h2 {
  font-size: 18px;
  color: #e5e7eb;
  margin: 0;
}

.engagement button {
  background-color: #3882f6;
  border: 2px solid #f9faf8;
  border-radius: 10px;
  padding: 5px 35px;
}

.engagement button:hover {
  background-color: #1169f5;
}

.engagement a {
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
}

.footer .container h1 {
  height: 75px;
  color: #e5e7eb;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}